* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
}

h2 {
    text-align: center;
}

footer {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.profile__col-inner {
    display: block;
    margin: 10px 0;
}

.profile__image {
    display: block;
    max-width: 75%;

    margin: 0 auto;
    border-radius: 50%;
}

.profile__description {
    display: block;
    width: 100%;
}

/** --- TIMELINE -------------- */
.timeline__list {
    list-style: none;
    padding-left: 0;
}

.timeline__list-item {
    margin-bottom: 0;
    margin-top: 20px;
    border: 1px solid black;
    text-align: center;
}

.timeline__list-item-text {
    display: block;
    text-align: center;
}

/** --- KNOWLEDGE BASE ---------- */
.knowledge-base {
    display: grid;
    grid-template-columns: 1fr;
}

.knowledge-base__item {
    width: 120px;
    height: 120px;
    margin: 10px auto;
    text-align: center;

    vertical-align: middle;
    line-height: 120px;

    border: 1px solid #2e294e;
    border-radius: 50%;

    background-color: #2e294e;
    color: white;

    box-shadow: 5px 5px 18px #2e294e;
}

.knowledge-base__item:nth-of-type(4) {}

/** --- LANGUAGE -------------- */
.language__percentage {
    width: 100%;
    height: 40px;
    padding: 0;

    background-color: grey;
}

.language__item:nth-child(3) .language__percentage {
    position: relative;
}

.language__percentage--custom {
    position: absolute;
    left: 46%;
    line-height: 2.5;
    color: white;
}

.language__percentage-value--not-full {
    position: relative;
    top: -40px;
    width: 75%;
}

.language__percentage-value {
    display: block;
    height: 100%;
    padding: 10px 0;

    color: white;
    text-align: center;
}

.language .language__item:nth-of-type(1) .language__percentage-value {
    background-color: #F46036;
}

.language .language__item:nth-of-type(2) .language__percentage-value {
    background-color: #2e294e;
}

.language .language__item:nth-of-type(3) .language__percentage-value {
    background-color: #1B998B;
}

/** --- HOBBY -------------- */
.hobby {}

.hobby__image {}

.hobby__image img {}

/** --- CONTACT -------------- */
.contact {}

.contact__grid {}

.contact__grid-item {}